@* Views/Shared/partialViewLateral.cshtml *@
<div class="sidebar-content">
    <h3>Conteúdo Lateral</h3>
    <p>Este é o conteúdo que aparece na barra lateral.</p>
    <p>Aqui pode-se criar uma view completa, com acesso a dados inclusive...</p>
</div>

